{{ $copyrightNotice := now.Format "2006" | printf "© %s Copyright."}}
{{ if (index site.Data site.Language.Lang).site }}
  {{ $siteConfig := (index site.Data site.Language.Lang).site }}
  {{ if $siteConfig.copyright }}
    {{ $copyrightNotice = $siteConfig.copyright }}
  {{ end }}
{{ end }}

<footer id="footer" class="container-fluid text-center align-content-center footer pb-2">
  <hr />
  <div class="container">
    <div class="row text-left">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">{{ $copyrightNotice | markdownify }}</div>
      <div class="col-md-4 text-right">
        </a>
      </div>
    </div>
  </div>
</footer>